{% extends 'collect_dashbase.html' %}

{% block content1 %}
    <style>

        .descp {
            position: absolute;
            top: 38%;
            left: 3%;
            color: white;
        }

            .descp1 {
                position: absolute;
                top: 81%;
                left: 55vw;
                color: white;
                display: flex;
            }
    
            .circle {
                height: 10rem;
                width: 10rem;
                border-radius: 50%;
                background-color: white;
                margin-left: 7vw;
                margin-top: -6.3vh;
            }
        
    </style>
    
    <div class="descp" style="width: 300px;">
        <h2>Mrlvin Thomas</h2>
        <h4>Data Collector</h4>
    </div>

    <div class="descp1 d-none d-lg-block">
        <label style="font-size: 1.15rem;">Log out</label>
        <div class="circle">
        </div>
    </div>


{% endblock %}

{% block body %}


{% endblock %}